{{define "shipping-address-view"}}
	{{if .Address.NotEmpty}}
		<address>
			{{.Address.FirstName}} {{.Address.LastName}}<br>
			{{with .Address.Supplement}}{{.}}<br>{{end}}
			{{with .Address.CustomerID}}{{.}}<br>{{end}}
			{{.Address.Street}} {{.Address.HouseNumber}}<br>
			{{.Address.Postcode}} {{.Address.City}}<br>
			{{with .Address.Email}}<br>{{.}}{{end}}
			{{with .Address.Phone}}<br>{{.}}{{end}}
		</address>
	{{else}}
		<div>
			<p class="mb-1">{{.Sprintf "I will send you the delivery address by mail, e-mail or messenger."}}</p>
			{{with .AddressTypes}}
				{{if eq (len .) 1}}
					{{with (index . 0).CustomerIDRequired}}<p>{{$.Sprintf "I will include my %s, which is required for the selected delivery method." .}}</p>{{end}}
					{{if   (index . 0).EmailRequired}}<p>{{$.Sprintf "I will include an email address, which will be shared with the shipping company."}}</p>{{end}}
				{{else}}
					<p class="mb-1">{{$.Sprintf "The following address options are available:"}}</p>
					<ul>
						{{range .}}
							<li>
								<strong>{{.Name}}</strong>
								{{with .CustomerIDRequired}}({{$.Sprintf "%s required" .}}){{end}}
								{{if .EmailRequired}}({{$.Sprintf "email address required, will be shared with the shipping company"}}){{end}}
							</li>
						{{end}}
					</ul>
				{{end}}
			{{end}}
		</div>
	{{end}}
{{end}}

{{define "shipping-address-form-elements"}}
	<div class="form-check mb-3">
		<input
			type="checkbox"
			class="form-check-input"
			id="address-elsewhere"
			name="address-elsewhere"
			value="_"
			{{if .AddressElsewhere}}checked{{end}}
			onchange="document.getElementById('address').style.display = (this.checked ? 'none' : 'block')">
		<label class="form-check-label" for="address-elsewhere">
			{{.Sprintf "I will send you the delivery address by mail, e-mail or messenger instead."}}
		</label>
	</div>
	<div id="address" style="{{if .AddressElsewhere}}display: none{{end}}">
		{{with .AddressOptions}}
			<div class="mb-3">
				{{range .}}
					<input class="btn-check" type="radio" name="address-option" id="{{.ID}}" value="{{.ID}}" {{if .Selected}}checked{{end}} onchange="this.form.submit()">
					<label class="btn btn-outline-primary" for="{{.ID}}">{{.Name}}</label>
				{{end}}
				<button type="submit" class="btn btn-primary d-js-none">
					<i class="fa-solid fa-check"></i>
					<span class="sr-only">{{$.Sprintf "Select"}}</span>
				</button>
			</div>
		{{end}}
		<div class="row">
			<div class="col-sm-6 mb-3">
				<input class="form-control" type="text" placeholder="{{.Sprintf "First name"}}" name="shipping-first-name" value="{{.Address.FirstName}}">
			</div>
			<div class="col-sm-6 mb-3">
				<input class="form-control {{if .ErrAddressLastName}}is-invalid{{end}}" type="text" placeholder="{{.Sprintf "Last name"}}" name="shipping-last-name" value="{{.Address.LastName}}" aria-required="true">
				<div class="invalid-feedback">
					{{.Sprintf "Please enter a last name"}}
				</div>
			</div>
		</div>
		{{if .SelectedAddressType.Supplement}}
			<div class="mb-3">
				<input class="form-control" type="text" placeholder="{{.Sprintf "Address supplement"}} ({{.Sprintf "optional"}})" name="shipping-address-supplement" value="{{.Address.Supplement}}">
			</div>
		{{end}}
		{{if .SelectedAddressType.CustomerIDRequired}}
			<div class="mb-3">
				<input class="form-control {{if .ErrAddressCustomerID}}is-invalid{{end}}" type="text" placeholder="{{.SelectedAddressType.CustomerIDRequired}}" name="shipping-address-customer-id" value="{{.Address.CustomerID}}" aria-required="true">
				<div class="invalid-feedback">
					{{.Sprintf "Please enter a %s." .SelectedAddressType.CustomerIDRequired}}
				</div>
			</div>
		{{end}}
		<div class="row">
			<div class="col-sm-8 mb-3">
				<input
					type="text"
					class="form-control {{if .ErrAddressStreet}}is-invalid{{end}}"
					name="shipping-street"
					placeholder="{{.Sprintf "Street"}}"
					value="{{with .SelectedAddressType.StreetName}}{{.}}{{else}}{{.Address.Street}}{{end}}"
					aria-required="true"
					{{if .SelectedAddressType.StreetName}}disabled{{end}}>
				<div class="invalid-feedback">
					{{.Sprintf "Please enter a street"}}
				</div>
			</div>
			<div class="col-sm-4 mb-3">
				<input
					type="text"
					class="form-control {{if .ErrAddressHouseNumber}}is-invalid{{end}}"
					name="shipping-house-number"
					placeholder="{{if .SelectedAddressType.StreetName}}{{.Sprintf "Number"}}{{else}}{{.Sprintf "House number"}}{{end}}"
					value="{{.Address.HouseNumber}}"
					aria-required="true">
				<div class="invalid-feedback">
					{{.Sprintf "Please enter a number"}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 mb-3">
				<input class="form-control {{if .ErrAddressPostcode}}is-invalid{{end}}" type="text" placeholder="{{.Sprintf "Postcode"}}" name="shipping-postcode" value="{{.Address.Postcode}}" aria-required="true">
				<div class="invalid-feedback">
					{{.Sprintf "Please enter a postcode"}}
				</div>
			</div>
			<div class="col-sm-8 mb-3">
				<input class="form-control {{if .ErrAddressCity}}is-invalid{{end}}" type="text" placeholder="{{.Sprintf "City"}}" name="shipping-city" value="{{.Address.City}}" aria-required="true">
				<div class="invalid-feedback">
					{{.Sprintf "Please enter a city"}}
				</div>
			</div>
		</div>
		{{if .SelectedAddressType.Email}}
			<div class="mb-3">
				<input
					type="text"
					class="form-control {{if .ErrAddressEmail}}is-invalid{{end}}"
					name="shipping-email"
					placeholder="{{.Sprintf "E-mail address"}}{{if not .SelectedAddressType.EmailRequired}} ({{.Sprintf "optional"}}){{end}}"
					value="{{.Address.Email}}"
					{{if .SelectedAddressType.EmailRequired}}aria-required="true"{{end}}
					onchange="email = document.getElementById('email1'); if(email && email.value == '') { email.value = this.value; }">
				<div class="invalid-feedback">
					{{.Sprintf "Please enter an e-mail address"}}
				</div>
				<div class="form-text">{{.Sprintf "We will give this e-mail address to the delivery company."}}</div>
			</div>
		{{end}}
		{{if .SelectedAddressType.Phone}}
			<div class="mb-3">
				<input
					type="text"
					class="form-control"
					name="shipping-phone"
					placeholder="{{.Sprintf "Phone number"}} ({{.Sprintf "optional"}})"
					value="{{.Address.Phone}}">
				<div class="form-text">{{.Sprintf "We will give this phone number to the delivery company."}}</div>
			</div>
		{{end}}
	</div>
{{end}}
